.container {
  width: 100%;
}
.header {
  height: 45px;
  background-color: #242424;
}
.wrap {
  margin: 0 20%;
  height: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.h_a_color a {
  color: #54bd9a;
  font-size: 35px;
  text-decoration: none;
}
#form_flex {
  display: flex;
  align-items: center;
  position: relative;
}
#sreach_click {
  display: none;
}
#form_flex .search_label {
  color: #7e7e7e;
  padding: 0 20px;
  cursor: pointer;
  font-size: 20px;
}
#form_flex #search_input {
  height: 30px;
  width: 0%;
  outline: none;
  font-size: 20px;
  top: 7px;
  position: absolute;
  opacity: 0;
  right: 220px;
  z-index: -1;
}
#form_flex > p {
  color: #7e7e7e;
  font-size: 10px;
  font-weight: 700;
  border-left: 1px #383838 solid;
  border-right: 1px #383838 solid;
  padding: 0 20px;
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.login_from {
  position: absolute;
  background-color: #242424;
  right: 0;
  top: 45px;
  width: 100%;
  padding: 10px;
  border-radius: 0 0 5% 5%;
  z-index: -1;
  opacity: 0;
}
.login_from h2 {
  color: #54bd9a;
}
.login_from label {
  color: #aaa;
}

.login_user_id,
.login_user_password {
  font-size: 13px;
  margin: 0;
}
.login_group input {
  width: 100%;
  height: 30px;
}
.login_group input:focus {
  outline: 1px springgreen solid;
}
.btn_group {
  display: flex;
  justify-content: space-between;
}
.login_btn {
  width: 45%;
  background-color: #54bd9a;
  padding: 3px;
  color: white;
  margin-top: 5px;
  border-radius: 5px;
}
.login_btn:hover {
  background-color: #99eed2;
  color: #999;
}
.login_group_back {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login_group_back a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}
.login_group_back a:hover {
  color: rgb(201, 201, 0);
}
.h_list {
  display: none;
}
#menu_list {
  display: none;
}
.form_flex_op {
  display: flex;
}

@media screen and (max-width: 360px) {
  .header {
    height: 100%;
    background-color: #242424;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .h_list {
    display: block;
  }
  #form_flex {
    align-self: flex-end;
    display: none;
  }

  #form_flex > p {
    border-left: none;
    border-right: none;
  }
  .h_list {
    display: block;
    position: absolute;
    right: 5%;
    margin: 1% auto;
    font-size: 30px;
    color: azure;
  }
}
@media screen and (min-width: 361px) and (max-width: 415px) {
  .header {
    height: 100%;
    background-color: #242424;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .h_list {
    display: block;
  }
  #form_flex {
    align-self: flex-end;
    display: none;
  }

  #form_flex > p {
    border-left: none;
    border-right: none;
  }
  .h_list {
    display: block;
    position: absolute;
    right: 5%;
    margin: 1% auto;
    font-size: 30px;
    color: azure;
  }
}
@media screen and (max-width: 768px) {
  .wrap {
    margin: 0;
  }
  .h_a_color {
    padding-left: 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .wrap {
    margin: 0;
  }
  .h_a_color {
    padding-left: 10px;
  }
}
/*header header header header header */
/*menu_nav menu_nav menu_nav menu_nav menu_nav */
#menu_nav_out {
  height: 60px;
}
#menu_nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20%;
}
#menu_nav_left {
  display: flex;
}
#menu_nav_left div {
  display: flex;
  cursor: pointer;
  padding: 20px;
}
#menu_nav_left > div {
  border-left: 1px #eeeeee solid;
}
#menu_nav_left > div:last-child {
  border-right: 1px #eeeeee solid;
}
#menu_nev_right {
  display: flex;
  cursor: pointer;
  color: #999;
}
#menu_nev_right div {
  display: flex;
}
#menu_nev_right > div {
  border-left: 1px #eeeeee solid;
}
#menu_nev_right > div:last-child {
  border-right: 1px #eeeeee solid;
}
#menu_i_item {
  padding: 20px 15px;
}
#menu_i_item div {
  margin: 0 5px;
}
#st_num,
#sc_num {
  padding: 0 7px;
  border-radius: 5px;
  color: white;
}
#st_num {
  background-color: #adadad;
}
#sc_num {
  background-color: #54bd9a;
}
@media screen and (max-width: 360px) {
  #menu_nav {
    margin: 0;
  }
  #menu_list {
    display: block;
    position: absolute;
    left: 5%;
    margin: 1% auto;
    font-size: 30px;
    color: azure;
  }
  #menu_nav {
    justify-content: flex-end;
  }

  #menu_nav_left {
    flex-direction: column;
    position: absolute;
    top: 6.3%;
    left: 0;
    cursor: pointer;
    padding: 0;
    background-color: white;
    display: none;
  }
  #menu_nav_left div {
    border-bottom: 1px #aaa solid;
    border-right: 1px #aaa solid;
  }
  #menu_nav_right {
    display: block;
    align-self: flex-end;
  }
}
@media screen and (min-width: 361px) and (max-width: 375px) {
  #menu_nav {
    margin: 0;
  }
  #menu_list {
    display: block;
    position: absolute;
    left: 5%;
    margin: 1% auto;
    font-size: 30px;
    color: azure;
  }
  #menu_nav {
    justify-content: flex-end;
  }

  #menu_nav_left {
    flex-direction: column;
    position: absolute;
    top: 6%;
    left: 0;
    cursor: pointer;
    padding: 0;
    background-color: white;
    display: none;
  }
  #menu_nav_left div {
    border-bottom: 1px #aaa solid;
    border-right: 1px #aaa solid;
  }
  #menu_nav_right {
    display: block;
    align-self: flex-end;
  }
}

@media screen and (min-width: 376px) and (max-width: 415px) {
  #menu_nav {
    margin: 0;
  }
  #menu_list {
    display: block;
    position: absolute;
    left: 5%;
    margin: 1% auto;
    font-size: 30px;
    color: azure;
  }
  #menu_nav {
    justify-content: flex-end;
  }

  #menu_nav_left {
    flex-direction: column;
    position: absolute;
    top: 5.5%;
    left: 0;
    cursor: pointer;
    padding: 0;
    background-color: white;
    display: none;
  }
  #menu_nav_left div {
    border-bottom: 1px #aaa solid;
    border-right: 1px #aaa solid;
  }
  #menu_nav_right {
    display: block;
    align-self: flex-end;
  }
}
@media screen and (min-width: 416px) and (max-width: 736px) {
  #menu_nav {
    margin: 0;
  }
}
@media screen and (min-width: 737px) and (max-width: 768px) {
  #menu_nav {
    margin: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #menu_nav {
    margin: 0;
  }
}
/*menu_nav menu_nav menu_nav menu_nav menu_nav */
/*play play play play play */
img {
  border: none;
}
#play_wrap {
  width: 100%;
  background-color: #ecece7;
}
.play {
  max-width: 1400px;
  height: 460px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
}
ul li {
  max-width: 100%;
  position: relative;
  float: left;
}
ul img {
  max-width: 100%;
  height: auto;
  float: left; /*讓圖片之間沒空隙*/
}

#paly_detail {
  position: absolute;
  width: 25%;
  top: 8%;
  right: 18%;
}
#paly_detail p {
  padding: 25px 10px;
  margin: 20px auto;
  background-color: #57c5a0;
  display: inline-block;
  color: white;
  font-size: 12px;
}
#paly_detail h1 {
  font-weight: 100;
  font-size: 40px;
}
#paly_detail h3 {
  font-weight: 100;
}
#paly_detail div {
  display: flex;
}
#paly_detail div i {
  background-color: white;
  padding: 10px;
  cursor: pointer;
  color: #8b8b8a;
  margin: 10px 5px 0 5px;
}
#paly_detail div i:hover {
  color: #57c5a0;
}

#menu_out {
  background-color: #2e2e2e;
}
.menu {
  position: relative;
  color: #999;
  margin: 0 20%;
}
ol {
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
ol li {
  width: 100%;
  cursor: pointer;
  position: relative;
}
.active {
  font-weight: bolder;
  color: white;
  position: relative;
}

.bar {
  width: 100%;
  height: 12px;
  background-color: black;
  position: absolute;
  top: -20px;
  left: 0%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.bar p {
  position: absolute;
  left: 5%;
  height: 8px;
  background-color: #57c5a0;
}
@media screen and (min-width: 320px) and (max-width: 360px) {
  .play {
    margin: 0 auto;
    height: 285px;
  }
  #play img {
    max-width: 360px;
  }
  #paly_detail {
    margin: 0 auto;
    position: relative;
    width: 360px;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  #paly_detail p {
    padding: 20px 5px;
    margin: 10px auto;

    font-size: 12px;
  }
  #paly_detail h1 {
    font-weight: 100;
    font-size: 20px;
    padding-right: 5px;
  }
  #paly_detail h3 {
    font-weight: 100;
    text-align: center;
    font-size: 12px;
  }

  .menu {
    position: relative;
    color: #999;
    margin: 0;
  }
  ol {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  ol li {
    width: 100%;
    cursor: pointer;
    position: relative;
  }
  ol li h2 {
    font-size: 15px;
  }
  ol li h5 {
    font-size: 12px;
    display: none;
  }
  ol li:nth-child(3) {
    top: -8px;
  }
  ol li:nth-child(4) {
    top: -8px;
  }
}
@media screen and (min-width: 361px) and (max-width: 375px) {
  .play {
    margin: 0 auto;
    height: 300px;
  }
  #play img {
    width: 375px;
  }
  #paly_detail {
    margin: 0 auto;
    position: relative;
    width: 360px;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  #paly_detail p {
    padding: 20px 5px;
    margin: 10px auto;

    font-size: 12px;
  }
  #paly_detail h1 {
    font-weight: 100;
    font-size: 20px;
    padding-right: 5px;
  }
  #paly_detail h3 {
    font-weight: 100;
    text-align: center;
    font-size: 12px;
  }

  .menu {
    position: relative;
    color: #999;
    margin: 0;
  }
  ol {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  ol li {
    width: 100%;
    cursor: pointer;
    position: relative;
  }
  ol li h2 {
    font-size: 15px;
  }
  ol li h5 {
    font-size: 12px;
    display: none;
  }
  ol li:nth-child(3) {
    top: -8px;
  }
  ol li:nth-child(4) {
    top: -8px;
  }
}
@media screen and (min-width: 376px) and (max-width: 415px) {
  .play {
    margin: 0 auto;
    height: 380px;
  }
  #play img {
    width: 414px;
  }
  #paly_detail {
    position: relative;
    width: 414px;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #paly_detail p {
    padding: 20px 5px;
    margin: 20px auto;

    font-size: 12px;
  }
  #paly_detail h1 {
    font-weight: 100;
    font-size: 25px;
  }
  #paly_detail h3 {
    font-weight: 100;
    text-align: center;
  }

  .menu {
    position: relative;
    color: #999;
    margin: 0;
  }
  ol {
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  ol li {
    width: 100%;
    cursor: pointer;
    position: relative;
  }
  ol li h2 {
    font-size: 15px;
  }
  ol li h5 {
    font-size: 12px;
  }
}
@media screen and (min-width: 416px) and (max-width: 736px) {
  .play {
    margin: 0;
    height: 242px;
  }
  ul img {
    max-width: 736px;

    float: left; /*讓圖片之間沒空隙*/
    background-color: red;
  }

  #paly_detail p {
    padding: 15px 5px;
    margin: 0;
    background-color: #57c5a0;
    display: inline-block;
    color: white;
    font-size: 10px;
  }
  #paly_detail h1 {
    font-weight: 900;
    font-size: 13px;
  }
  #paly_detail h3 {
    font-weight: 100;
    font-size: 10px;
  }
  #menu {
    margin: 0;
  }
  ol li {
    width: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  ol li h2 {
    font-size: 19px;
  }
  ol li h5 {
    font-size: 12px;
  }
}
@media screen and (min-width: 737px) and (max-width: 768px) {
  .play {
    margin: 0;
    height: 252px;
  }
  ul img {
    max-width: 768px;

    float: left; /*讓圖片之間沒空隙*/
    background-color: red;
  }

  #paly_detail {
    position: absolute;
    width: 25%;
    top: 5%;
    right: 15%;
  }
  #paly_detail p {
    padding: 15px 5px;
    margin: 0;
    background-color: #57c5a0;
    display: inline-block;
    color: white;
    font-size: 10px;
  }
  #paly_detail h1 {
    font-weight: 900;
    font-size: 13px;
  }
  #paly_detail h3 {
    font-weight: 100;
    font-size: 10px;
  }
  #menu {
    margin: 0;
  }
  ol li {
    width: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  ol li h2 {
    font-size: 19px;
  }
  ol li h5 {
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .play {
    margin: 0 auto;
    height: 336px;
  }
  ul li {
    max-width: 100%;
    height: auto;
  }
  ul img {
    max-width: 1024px;

    float: left; /*讓圖片之間沒空隙*/
  }
  #paly_detail p {
    font-size: 15px;
  }
  #paly_detail h1 {
    font-size: 20px;
  }
  #paly_detail h3 {
    font-size: 15px;
  }

  #menu {
    margin: 0 10px;
  }
  ol li {
    width: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  ol li h2 {
    font-size: 18px;
  }
  ol li h5 {
    font-size: 13px;
  }
}
/*play play play play play */
/*img_title img_title img_title img_title img_title */
#img_title_out {
  height: 230px;
  background-color: #242424;
}
#img_title_wrap {
  margin: 0 20%;
  height: 100%;
}
#img_title {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#img_title_pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img_title_txt {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 25px;
  color: white;
  font-size: 20px;
}
@media screen and (min-width: 320px) and (max-width: 360px) {
  #img_title_out {
    height: auto;
  }
  #img_title_wrap {
    margin: 0;
  }
  #img_title_item {
    margin: 10px 0;
  }
  #img_title {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 361px) and (max-width: 375px) {
  #img_title_out {
    height: auto;
  }
  #img_title_wrap {
    margin: 0;
  }
  #img_title_item {
    margin: 10px 0;
  }
  #img_title {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 376px) and (max-width: 415px) {
  #img_title_out {
    height: auto;
  }
  #img_title_wrap {
    margin: 0;
  }
  #img_title_item {
    margin: 10px 0;
  }
  #img_title {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 416px) and (max-width: 736px) {
  #img_title_wrap {
    margin: 0;
  }
  #img_title_pic img {
    max-width: 100%;
  }
}
@media screen and (min-width: 737px) and (max-width: 768px) {
  #img_title_wrap {
    margin: 0;
  }
  #img_title_pic img {
    max-width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #img_title_wrap {
    margin: 0;
  }
}
/*img_title img_title img_title img_title img_title */
/*Best_month Best_month Best_month Best_month Best_month */
#Best_month_out {
  width: 100%;
  background-color: #ebe7df;
}
#Best_month_wrap {
  margin: 0 20%;
  border-bottom: 1px solid #bcb5a7;
}
#Best_month {
  padding: 30px 0;
}
#B_m_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#B_m_top h2 {
  font-weight: 400;
}
#B_m_top a {
  color: #bcb5a7;
  text-decoration: none;
  border: 1px solid #bcb5a7;
  padding: 0 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
#B_m_bottom {
  display: flex;
  justify-content: space-between;
}
#B_m_item {
  background-color: white;
  position: relative;
}
#B_m_item img {
  max-width: 100%;
  border-bottom: 1px #aaa solid;
}
#B_m_p_detail {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 10px 20px 0 20px;
}
#B_m_p_detail p {
  background-color: #54bd9a;
  padding: 25px 10px;
  margin-top: -30px;
  font-size: 14px;
  color: white;
}
#B_m_p_detail h3 {
  padding-left: 30px;
  font-weight: normal;
}
#B_m_icon_item {
  position: absolute;
  background-color: white;
  left: 35%;
  display: none;
}
#B_m_icon_item i {
  color: #6e6e6e;
  padding: 0 10px;
  cursor: pointer;
}
#B_m_icon_item i:last-child {
  color: #57c5a0;
}
#B_m_p_detail:hover #B_m_icon_item {
  display: block;
}
#o_o_s {
  position: absolute;
  color: white;
  background-color: #f27e4b;
  top: 0;
  right: 5%;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 360px) {
  #Best_month_wrap {
    margin: 0 5px;
  }
  #B_m_top a {
    padding: 05px;
  }
  #B_m_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #B_m_item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  #B_m_item img {
    width: 100%;
  }
  #B_m_p_detail {
  }
  #B_m_p_detail h3 {
    padding-left: 50px;
    font-weight: normal;
  }
  #B_m_icon_item {
    left: 30%;
  }
  #B_m_icon_item i {
    padding: 0 20px;
  }
}
@media screen and (min-width: 361px) and (max-width: 375px) {
  #Best_month_wrap {
    margin: 0 5px;
  }
  #B_m_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #B_m_item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  #B_m_item img {
    width: 100%;
  }
  #B_m_p_detail {
  }
  #B_m_p_detail h3 {
    padding-left: 50px;
    font-weight: normal;
  }
  #B_m_icon_item {
    left: 30%;
  }
  #B_m_icon_item i {
    padding: 0 20px;
  }
}
@media screen and (min-width: 376px) and (max-width: 415px) {
  #Best_month_wrap {
    margin: 0 5px;
  }
  #B_m_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #B_m_item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  #B_m_item img {
    width: 100%;
  }
  #B_m_p_detail {
  }
  #B_m_p_detail h3 {
    padding-left: 50px;
    font-weight: normal;
  }
  #B_m_icon_item {
    left: 30%;
  }
  #B_m_icon_item i {
    padding: 0 20px;
  }
}
@media screen and (min-width: 416px) and (max-width: 736px) {
  #Best_month_wrap {
    margin: 0 5px;
  }
}
@media screen and (min-width: 737px) and (max-width: 768px) {
  #Best_month_wrap {
    margin: 0 5px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #Best_month_wrap {
    margin: 0 10px;
  }
}
/*Best_month Best_month Best_month Best_month Best_month */
